body {
  --board-height: calc(100vh - 7em);
  --header-height: 4em;
  --list-panel-width: 16em;
  min-width: 1200px;
}

page {
  display: grid;
  grid-template-rows: var(--header-height) var(--board-height) 3em;
  grid-gap: 0;
}

.page-header {
  background-color: darkslategray;
  color: white;
  height: var(--header-height);
}

header {
  line-height: 4em;
  margin: 0 auto;
  max-width: 760px;
}

.page-header h1 {
  margin: 0;
  text-align: center;
}

.page-header h1 span {
  color: lightblue;
}

.btn {
  background: rgba(173, 216, 230, 0.226);
  border: 1px solid rgba(173, 216, 230, 0.548);
  border-radius: 4px;
  cursor: pointer;
  height: 1em;
  padding: 0.6em;
  margin: 0.5em;
  font-size: 90%;
}

.btn.active {
  border-color: rgba(173, 230, 181, 0.548);
  background-color: rgba(173, 230, 176, 0.226);
}

.btn:hover {
  color: lightblue;
  background: transparent;
}

.container {
  height: calc(100vh - 7em);
  display: grid;
  grid-template-columns: calc(100% - var(--list-panel-width)) var(--list-panel-width);
}

.list-pnl {
  background: #333;
  color: white;
}

.list-pnl.right {
  width: var(--list-panel-width);
}

.level-list {
  overflow-y: auto;
  height: 65vh;
  background-color: #444;
}

.list-pnl p {
  color: rgba(173, 230, 181, 0.945);
  font-size: 90%;
  margin: 0.5em;
  padding: 0.5em;
}

.cover-block {
  width: calc(100% - var(--list-panel-width));
}

footer {
  background-color: #444;
  height: 3em;
  text-align: center;
  line-height: 3em;
}

footer a {
  color: white;
}
